<%= form_tag(grabber_path) do %>
  <div class="control-group">
    <%= label_tag :url, "Введите адрес страницы", class: "control-label" %>
    <div class="input-prepend">
      <span class="add-on">http://</span><%= text_field_tag :url, nil, id: "prependedInput", placeholder: "www.example.ru"  %>
    </div>
  </div>
  <%= submit_tag "Поехали", class: "btn btn-success btn-large"%>
<% end %>