<% @images.each do |image| %>
  <div class="well well-small">
    <%= link_to create_content_block(@dir, image), "/assets/#{@dir}/#{image}",
                html_options={ class: "grouped_elements", rel: "img_group1" } %>
  </div>
<% end %>