<div class="center hero-unit">
  <h1>Похитим изображения?</h1>
  <br>
  <%= render "form" %>
</div>

<div id="overlay_block">
  <div id="white_blind"></div>
  <div class="progress progress-striped active">
    <div class="bar" style="width: 100%;">Загрузка...</div>
  </div>
</div>